@font-face {
  font-family: 'Willy Wonka';
  src:  url('../assets/willywonka.regular-webfont.woff2') format('woff2'),
        url('../assets/willywonka.regular-webfont.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.blank {
  background-color: #9c21db;
}

* {
  box-sizing: border-box;
}
.body {
  background-color: #9c21db !important;
  overflow: hidden;
}
.screen-wrapper {
  display: flex;
  justify-content: center;
  background-color: #9c21db;
}

.sections-wrapper {
  height: 100vh;
  width: 100vw;
  /* margin: 50px; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #9c21db;

}




/***SECTION 1***/

.section-one {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
/* width: calc(33.33%); */
}


.div-one {
color: white;
font-family: 'Willy Wonka';
font-size: 25px;
display: flex;
flex-direction: column;
justify-content: space-between;

}

/* .start {
  color: rgb(59, 13, 13);
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* font-family: 'Willy Wonka'; 
  font-family: 'Lobster', cursive;
  font-weight:bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  background-image: url('../assets/gold-foil.png')

} */
#easy, #medium, #hard, .close-window {
  color: rgb(59, 13, 13);
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* font-family: 'Willy Wonka'; */
  font-family: 'Lobster', cursive;
  font-weight:bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  background-image: url('../assets/gold-foil.png')

}

.character-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  justify-content: space-around;
}

img {
  height: 90px;
  padding: 10px;
  cursor: pointer;
}

/*** SECTION 2 ***/

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: calc(33.33%); */
  }

h1 {
  font-family: 'Willy Wonka';
  text-align: center;
  /* color: white; */
  font-size: 70px;
  padding: 10px;
  /* margin-bottom: 10px; */
  margin: 0;
  /* text-shadow: 5px 5px 5px  #F1BE15; */
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(https://media.istockphoto.com/photos/gold-foil-picture-id641038612?k=20&m=641038612&s=170667a&w=0&h=WIdEkkQ2hMDmvcKw3AVxOfKONJeEtdVMM0GBSJSfJH8=) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

  


.div-three {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: rgb(59, 13, 13);
  border: 25px solid;
  border-image: url('../assets/sweetie-border-removebg-preview.png') 10% round;
  grid-template-columns: repeat((4));
  /* z-index: -1;
  position: relative; */
}


.grid div {
  /* border: 1px solid white; */
  flex-grow: 1;
  height: 40px;
  width: 40px;
  text-align: center;
  /* padding: 2px; */
  line-height: 40px;
  
  /* z-index: -1;
  position: relative; */
}

/* Rainbow belt*/

#rainbow-belt {
  background: url('../assets/sparkles.gif');
  background-size: cover;
  object-fit: fill;
}


#rainbow-belt.violet {
  background: url('../assets/violet.png'),url('../assets/sparkles.gif');
  background-size: contain,cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
#rainbow-belt.oompa-loompa {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-size: contain,cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
#rainbow-belt.willy-wonka {
  background: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-size: contain,cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
#rainbow-belt.charlie {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-size: contain,cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

/* Characters */

/* .character {
  background-image: url('../assets/violet.png');
  background-repeat: no-repeat;
  background-size: contain; 
}*/
  

.willy-wonka {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.charlie {
  background-image: url('../assets/charlie.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.violet {
  background-image: url('../assets/violet.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.oompa-loompa {
  background-image: url('../assets/oompa_loompa_transparent-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Food items */

.pink-party-ring {
  background-image: url('../assets/pink-party-ring--removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.pink-party-ring.violet {
  background-image: url('../assets/violet.png'),url('../assets/pink-party-ring--removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.pink-party-ring.oompa-loompa {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.pink-party-ring.willy-wonka {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/pink-party-ring--removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.pink-party-ring.charlie {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.custard-cream {
  background-image: url('../assets/Custard_cream_biscuit-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.custard-cream.violet{
  background-image: url('../assets/violet.png'),url('../assets/Custard_cream_biscuit-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.custard-cream.oompa-loompa {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.custard-cream.willy-wonka{
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/Custard_cream_biscuit-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.custard-cream.charlie {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-party-ring {
  background-image: url('../assets/yellow-party-ring-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-party-ring.violet {
  background-image: url('../assets/violet.png'),url('../assets/yellow-party-ring-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-party-ring.oompa-loompa {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-party-ring.willy-wonka {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/yellow-party-ring-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-party-ring.charlie {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.egg {
  background-image: url('../assets/FriedEgg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.egg.violet  {
  background-image: url('../assets/violet.png'),url('../assets/FriedEgg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.egg.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.egg.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/FriedEgg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.egg.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.heart {
  background-image: url('../assets/haribo-heart-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.heart.violet  {
  background-image: url('../assets/violet.png'),url('../assets/haribo-heart-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.heart.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.heart.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/haribo-heart-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.heart.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.worm {
  background-image: url('../assets/worm-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.worm.violet  {
  background-image: url('../assets/violet.png'),url('../assets/worm-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.worm.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.worm.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/worm-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.worm.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-skittle {
  background-image: url('../assets/yellow-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-skittle.violet  {
  background-image: url('../assets/violet.png'),url('../assets/yellow-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-skittle.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-skittle.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/yellow-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.yellow-skittle.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.creme-egg {
  background-image: url('../assets/creme-egg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.creme-egg.violet  {
  background-image: url('../assets/violet.png'),url('../assets/creme-egg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.creme-egg.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.creme-egg.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/creme-egg-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.creme-egg.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.green-skittle {
  background-image: url('../assets/green-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.green-skittle.violet  {
  background-image: url('../assets/violet.png'),url('../assets/green-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.green-skittle.oompa-loompa  {
  background: url('../assets/oompa_loompa_transparent-removebg-preview.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.green-skittle.willy-wonka  {
  background-image: url('../assets/willy_wonka_transparent-removebg-preview.png'),url('../assets/green-skittle-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.green-skittle.charlie  {
  background: url('../assets/charlie.png'),url('../assets/sparkles.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


/*** SECTION 3 ***/

.section-three  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: calc(33.33%); */
  }


/* .div-five {
  border: 2px solid white;
  color: white;
  font-family: 'Willy Wonka';
  padding: 15px;
} */
.div-six {
width: 50px;
height: 300px;
border: 3px solid #F1BE15;
margin: 50px;
background-image: url('../assets/gold-foil.png')
}

/* object-fit: fill; */



 /* #myProgress {
width: 100%; 
 background-color: #F1BE15;

}  */

#myBar {
/* width: 100px; */
height: 100%;
background-color: #9c21db;
;

}

.div-seven {
  display: flex;
  flex-direction: column;
}

.lives, .timer, .pick-a-character, .pick-a-level {
  text-align: center;
  color: rgb(59, 13, 13);
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 20px;;
}

.lollipop-wrapper {
  display: flex;
  justify-content: space-around;
}

#lollipop-one {
 
background-image: url('../assets/lollipop-removebg-preview.png');
background-repeat: no-repeat;
background-size: contain;
object-fit: fill;
height: 90px;
}


#lollipop-two {
  
background-image: url('../assets/lollipop-removebg-preview.png');
background-repeat: no-repeat;
background-size: contain;
object-fit: fill;
}


#lollipop-three {
  
background-image: url('../assets/lollipop-removebg-preview.png');
background-repeat: no-repeat;
background-size: contain;
object-fit: fill;
}



/* The alert message box */
.alert-box-game-over {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 10px;
  background-color: #9c21db;
  color: white;
  text-align: center;
  width: 400px;
  height: 400px;
  font-family: 'Willy Wonka';
  font-size: 30px;
  position: absolute;
  z-index: 1;
  
}
.alert-box-successful {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 10px;
  background-color: #9c21db;
  color: white;
  text-align: center;
  width: 400px;
  height: 400px;
  font-family: 'Willy Wonka';
  font-size: 30px;
  position: absolute;
  z-index: 1;
  
}

.none {
  display: none;
}

.message {
  height: 300px;;
}
.congratulations {
  margin: 0;
}

.loser {
  margin-top: 100px;
}

#golden-ticket {
  width: 380px;
  height: 190px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.restart-winner, .restart-loser, .close-window-winner, .close-window-loser {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Willy Wonka';
  background-color: #F1BE15;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
}


/* .blur {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  z-index: 10;
  height: 1000px;
width: 100px;
} */



/* The close button */
/* .close-buttton {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
} */

/* When moving the mouse over the close button */
/* .close-button:hover {
  //color: black;
} */
